@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient-brand {
    @apply text-transparent bg-clip-text bg-gradient-to-b from-brand to-brand-dark;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}